<html>
<body>
	<script src="/static/kyc/webcam.js"></script>
	<div id="my_camera" style="width:320px; height:240px;"></div>
	<div id="my_result"></div>

	<form action="{% url 'kyc:upload_template_id' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input id="id_image" type="file" class="" name="id_image">
		<input type="text" name="template_name" placeholder="Template Name">
		<input type="text" name="institute" placeholder="Institute">
		<!-- <input type="text" name="first_name" placeholder="First Name">
		<input type="text" name="last_name" placeholder="Last Name"> -->
	    <input type="submit" value="Submit"/>
	</form>

</body>
</html>